---
layout: default
---
<article id="post-page">
	{% if page.image.feature %}
	  <img src="{{ site.github.url }}/img/{{ page.image.feature }}">
	{% endif %}
	<h2>{{ page.title }}</h2>
	<time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>
	<div class="content">

		{{ content }}
		<gotohome id="gotohome">
			<a href="https://growth-hacker.kr/">
				<img src="/img/BaseRocket.svg" alt="Growth Rocket">
				<h1>Go to Home</h1>
			</a>
		</gotohome>
	</div>

</article>

{% include disqus.html %}
